.Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 0 2rem;
  padding-bottom: 4rem;

  @include bp(tab-port) {
    padding-bottom: 4rem;
  }

  @include bp(phone) {
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid $color-grey-light-3;
    margin-left: 2rem;
    margin-right: 1rem;
  }

  &__logo {
    width: 12%;

    @include bp(tab-port) {
      width: 15%;
    }

    @include bp(phone) {
      // width: 25%;
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__text {
    align-self: flex-end;
    width: 88%;

    padding-left: 2rem;
    text-align: left;

    font-size: 3rem;
    line-height: 1;

    @include bp(tab-port) {
      width: 85%;
    }

    @include bp(phone) {
      font-size: 2rem;
      // width: 75%;
      width: 100%;
      align-self: flex-start;
      padding-left: 0;
      font-size: 2.4rem;
      line-height: 1.5;
    }
  }

  &__link {
    width: 20%;

    &,
    &:link,
    &:visited {
      margin-top: 0.2rem;
      text-align: left;
      font-size: 1.2rem;
      text-decoration: none;
      color: $color-secondary;
      font-weight: 600;
      line-height: 2;

      transition: all 0.1s;
    }

    &:active,
    &:hover {
      color: $color-secondary-light;
    }
  }
}
